
* {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
}





.box {
	height: 100px;
	width: max-content;
	background-color: ;
	position:absolute;
	margin: auto;
	display: grid ;
	grid-template-columns: repeat(6,max-content);
	grid-template-rows: 100px;
	grid-gap: 10px;
	


	
	


}
.test2 {
	height: 50px;
	width: 100px;	
	position: relative;	
	line-height: 50px;
	font-size: 24px;
	color: red;
	text-align: center;	
}
.test2:hover .test3{
	top: 40px;


}
.test3{
	height: 50px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 50;
	transition: .8s;
	border-radius: 20px;
	filter:blur(4px);
}
.test{
	position: absolute;
	z-index: 40;
}